* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  height: 100vh;
  width: 100%;
  background-color: beige;
}
.header {
  height: 5rem;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 20%;
  height: 100%;
  background-color: burlywood;
}
.space {
  width: 30%;
  height: 100%;
  background-color: coral;
}
.navbar {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: crimson;
  gap: 60px;
}
.navbar a {
  color: black;
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 10rem;
  font-size: 1.2rem;
}
.page {
  position: relative;
  display: flex;
  align-items: center;       
  justify-content: center;   
  flex-direction: column;
  text-align: center;
}
.container {
  margin-top: 3rem;
  height: 70vh;
  width: 120vh;
  background-color: crimson;
  display: flex;
}
.col1{
  width: 50%;
  height: 100%;
  background-color: coral;
}
.heading{
  height: 20%;
  width: 100%;
  background-color: fuchsia;
}
.info{
  height: 80%;
  width: 100%;
  background-color: deeppink;
}
.col2{
  height: 100%;
  width: 50%;
  background-color: maroon;
}